@font-face {
    font-family: Italian;
    src: url(Semplicita/Semplicita\ Light.otf);
}

.przepisy-lista {
    padding: 30px 0 10px 0;
}

.przepis {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.przepis img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.aktualnosci-zawartosc {
    flex: 1;
}

.przepis p {
    text-align: justify;
}

.aktualnosci-zawartosc a {
    margin: 0 10px;
}

.aktualnosci-zawartosc img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.zawartosc {
    display: flex;
    flex: 1;
}

.skladniki,
.kroki {
    flex: 1;
    align-items: center;
}

.skladniki {
    margin-right: 10px;
}

.skladniki h3,
.kroki h3 {
    margin-top: 0;
}